.card-overlay {
	$this: &;
	position: relative;
	overflow: hidden;
	display: block;
	border-radius: 1.875rem;
	text-decoration: none;

	&__image {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		&-img {
			object-fit: cover;
			object-position: center;
			height: fit-content;
			width: fit-content;
		}
	}

	&__content {
		display: flex;
		flex-direction: column;
		align-items: flex-start;

		position: relative;
		z-index: 1;

		width: 100%;
		height: 100%;
		min-height: 12rem;

		margin: 0 auto;
		padding: 1.9rem 1.3rem;

		background: rgb(var(--global-colors-black-values) / 0.44);

		justify-content: var(--block-card-align);
	}

	&__heading {
		padding-bottom: 1rem;
	}

	&__paragraph {
		padding-bottom: 1.5rem;
	}
}
