.post-info {
	&__details {
		display: flex;
		flex-direction: row wrap;
		list-style: none;
		gap: 1rem;
		padding-left: 0;
		margin-bottom: 2rem;

		li {
			font-weight: 600;

			&:nth-child(n + 2)::before {
				content: '\2022';
				color: var(--global-colors-grey);
				font-weight: bold;
				display: inline-block;
				width: 1em;
				margin-left: -0.3em;
			}
		}
	}

	&__tags {
		display: flex;
		flex-direction: row wrap;
		list-style: none;
		gap: 1rem;
		padding-left: 0;
		margin: 0;

		li {
			background-color: var(--global-colors-grey);
			color: var(--global-colors-white);
			padding: 0.6rem 1rem;
			border-radius: 0.5rem;
			font-size: 0.875rem;
			font-weight: 600;
		}
	}
}
