.share {
	display: flex;
	flex-direction: column;
	align-items: flex-start;

	font-weight: 600;

	&__heading {
		font-weight: 600;
		display: block;
		margin-bottom: 2rem;
	}

	&__item {
		@extend %link-reset;

		background-color: var(--global-colors-white);
		color: var(--global-colors-ocean);

		padding: 0.2rem 0;
		border-radius: 0.3rem;

		font-size: 1rem;

		transition: {
			property: transform;
			timing-function: ease-out;
			duration: 0.3s;
		}

		&:hover {
			transform: scale(1.1);
		}
	}

	& > *:not(:last-child) {
		margin-right: 1rem;
	}
}
